
{{ with .Site.GetPage "/" }}
<div class="px-6 py-4">  
  <img class="w-2/3 mx-auto rounded-full object-cover object-top shadow-sm" src="/img/card.png" alt="Sergei Zheleznov">
  <div >
    <h1 class="font-bold text-xl mb-2">{{ .Title }}</h1>
    <div class="text-gray-700 text-base md-content">{{ .Content }}</div>
    <div class="flex justify-center">
      <a class="text-white w-8 h-8 text-lg bg-gray-400 inline-block flex justify-center items-center rounded-full mr-2" href="https://www.linkedin.com/in/sksdes/" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a> 
      <a class="text-white w-8 h-8 text-lg bg-gray-400 inline-block flex justify-center items-center rounded-full" href="https://github.com/SergeiZheleznov" title="Github"><i class="fab fa-github"></i></a>    
    </div>
  </div>
</div>
{{ end }}

<div class="px-6 py-2">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    <a class="{{ if $currentPage.IsMenuCurrent "main" . }}bg-gray-400 text-gray-700{{else}}bg-gray-200 text-gray-500{{ end }} inline-block  rounded-full px-3 py-1 text-sm font-semibold  mr-2 mb-2" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
  {{ end }}
  </ul>
</div>
