{{ define "main" }}
<div class="max-w-3xl lg:w-full lg:ml-5 mt-5 lg:mt-0">
  <div class="bg-white p-10 rounded-md" x-data="chocolateyFilter()">
    <div class="mb-5">
      <label for="package" class="sr-only">Find packages</label>
      <div class="relative rounded-md shadow-sm">
        <input x-model="filterStr" id="package" class="form-input block w-full sm:text-sm sm:leading-5" placeholder="Find packages" />
      </div>
    </div>
    <div id="packages-list">
      <h2 class="text-3xl mb-4">DevTools</h2>
      {{ range .Params.devtools.package }}
        {{ partial "software.item" . }}
      {{ end }}
  
      <h2 class="text-3xl mb-4 mt-6">Utils</h2>
      {{ range .Params.utils.package }}
        {{ partial "software.item" . }}
      {{ end }}
  
      <h2 class="text-3xl mb-4 mt-6">Multimedia</h2>
      {{ range .Params.multimedia.package }}
        {{ partial "software.item" . }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

{{ define "submenu" }}
<div>
  {{ with .Resources.GetMatch "logo_square.svg" }}
    <img class="w-full" src="{{.RelPermalink}}" alt="">
  {{ end }}
  <div class="px-6 py-4 md-content">
    {{.Content}}
  </div>
</div>
{{end}}